*.xoj.pdf
??/physics755-??-handed_in-blx.bib
??/physics755-??-handed_in.aux
??/physics755-??-handed_in.bbl
??/physics755-??-handed_in.blg
??/physics755-??-handed_in.fdb_latexmk
??/physics755-??-handed_in.fls
??/physics755-??-handed_in.log
??/physics755-??-handed_in.out
??/physics755-??-handed_in.pdf
??/physics755-??-handed_in.run.xml
points-physics755.pdf
points-physics755.png
points-physics755.svg
